.cardset_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cardset_info {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.cards_display_container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 40vh;
}

.cards_display {
    display: flex;
    gap: 1rem;
    max-width: 100%;
    flex-flow: wrap;
    justify-content: center;
}

.card_container {
    width: 150px;
}